@font-face {
    font-family: "Digital dream Fat Narrow";
    src: ('../assets/Digital dream Fat Narrow.ttf')
}

.scorecard{
    border: 2px solid cornflowerblue;
    border-radius: 20%;
    width: 4%;
    text-align: end;
    padding: 0.1rem;
    font-family: "Digital dream Fat Narrow";
}