/* body {
  background-color: black;
} */
.game{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bk-bag{
  height: 250px;
  width: 30%;
  position: relative;
  overflow: hidden;
}
.bag {
  width: 150px;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0px;
  margin: 0 auto;
}
.burger {
  width: 150px;
  z-index: 0;
  position: absolute;
  bottom: 10px;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.burger-up{
  width: 170px;
  z-index: 0;
  position: absolute;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 110px;
}
.fries {
  width: 150px;
  z-index: 0;
  position: absolute;
  bottom: 10px;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.fries-up{
  width: 200px;
  z-index: 0;
  position: absolute;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 90px;
}
.logo {
  width: 90px;
  z-index: 0;
  position: absolute;
  bottom: 10px;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
}
.logo-up{
  width: 120px;
  z-index: 0;
  position: absolute;
  transition:all 0.4s;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 110px;
}

h1 {
  color: blue;
  margin-left: 42%;
  margin-top:4%;
}
button {
  margin-left: 47%;
}

