.App {
  text-align: center;
  background-color: white;
}

.square{
  width: 10rem;
  height: 10rem;
  background-color: #5E1214;
}

.timbit-pic{
  width: 4rem;
  display: none;
}

.title{
  font-weight: bold;
  font-size: 3rem;
  margin: 1rem 0;
  color: #5E1214;
}

.logo{
  width:10rem;
  height: 10rem;
}
.board{
  margin-bottom: 1rem;
}

#redfoot{
  background-color: #5E1214 !important;
}

#redfoot span{
  color: white;
  font-size: 2rem;
}
.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
}

