.App {
  text-align: center;
  background-color: seashell;
}

.square{
  width: 10rem;
  height: 10rem;
  background-color: #5E1214;
}

.world-comp{
  margin-top: 10rem;
}

.timbit-pic{
  width: 4rem;
  display: none;
}

.title{
  font-weight: bold;
  font-size: 3rem;
  margin: 3rem 0;
}
